# -*- coding: utf-8, tab-width: 2, syntax: bash -*-

DISTS=(
  # Entries that contain spaces and/or "#" are ignored.
  # You can use this to help your editor sort lines by version number:
  'Ubuntu 12.04       ' #precise
  'Ubuntu 14.04       ' #trusty
  'Ubuntu 16.04       ' xenial
  'Ubuntu 18.04       ' bionic
  'Ubuntu 20.04       ' focal
  )

COMPONENTS=(  # --section=
  # ATTN: [2019-08-07] dm will fail ALL sections if ANY of them doesn't exist!
  main
  # contrib
  # non-free
  )

I18N_LANGS=(
  # cz
  # de
  # dk
  en
  # fr
  )

ARCHS=(
  # SRC       # uncomment to also download sources
  i386        # NB: Usually amd64 machines can run i386 programs, too.
  amd64
  )


# If your config shall not run on specific conditions,
# just "return 0" without adding any REPO_URL[]s:
case "$(hostname --fqdn)" in
  *.example.net )
    echo "W: $0: skip: use another FQDN" >&2
    return 0;;
esac

# You can also add custom sanity checks and return a failure code:
if [ "$(date +%F)" == 1823-01-42 ]; then
  echo "E: to use debmirror, please invent Debian first." >&2
  return 8
fi


# REPO_URL: path -> baseurl
# Path is relative to config file; use "." for same directory.
REPO_URL['go-git-service']='https://dl.packager.io/srv/deb/gogs/gogs/main/ubuntu/'

# Space and newline characters in URL are removed for easy multi-line:
REPO_URL['phusion-passenger']='
  https://oss-binaries.phusionpassenger.com/apt/passenger/'

# The rc file is source-d in a bash function, so you can define your own
# local vars. If you need functions, start their name with "rc_".
local NODE_BASE='https://deb.nodesource.com/node_'
local NODE_VER=
for NODE_VER in 10 12; do
  REPO_URL["nodejs-v$NODE_VER"]="$NODE_BASE${NODE_VER#0}.x/"
done


# Waterfox, rather than using a "dists" subdirectory in its repo,
# has a separate repo per Ubuntu version.
local WAFO_BASE='https://download'

# Sometimes waterfox's official mirrors are broken for a month or so.
# A workaround that usually works is to temporarily add "content":
[ "$(date +%Y%m%d)" -lt 2021'02'01 ] && WAFO_BASE+='content'
# (Changing it here only takes effect if/when you re-generate your
# configs from the example files.)

WAFO_BASE+='.opensuse.org/repositories/home:/hawkeye116477:/waterfox/xUbuntu_'
local WAFO_UBU=
for WAFO_UBU in {18..20..2}.04; do
  REPO_URL["waterfox-ubu$WAFO_UBU"]="${WAFO_BASE}${WAFO_UBU}/"
done


# Some other useful repos
REPO_URL+=( # ATTN: += is string append to those keys, not replace.
  [brave-browser]='https://brave-browser-apt-release.s3.brave.com/'
  [docker]='https://download.docker.com/linux/ubuntu'
  [microsoft_vscode]='https://packages.microsoft.com/repos/vscode/'
  [minetest]='http://ppa.launchpad.net/minetestdevs/stable/ubuntu/'
  [mumble]='ppa:mumble/release'
  [webupd8]='ppa:nilarimogard/webupd8'  # streamlink
  [winehq]='https://dl.winehq.org/wine-builds/ubuntu/'
  [seamonkey]='http://downloads.sourceforge.net/project/ubuntuzilla/mozilla/apt'
  )




# You can reset all currently defined REPO_URLs with this helper function:
clear_repo_urls










# scroll
