# -*- coding: utf-8, tab-width: 2, syntax: bash -*-

local SUBDIR_REPO_URL="${REPO_URL[.]}"
source -- "$DME_PATH/docs/example.dm-easy.rc" || return $?
BETTER_DM="$DME_PATH/../debmirror-pmb/usr/bin/debmirror"
if [ -f "$BETTER_DM" ]; then DM_PROG=( perl "$BETTER_DM" ); fi

GNUPGHOME='-'

case "$SUBDIR_REPO_URL" in
  *'://deb.packager.io/'* )
    COMPONENTS=( pkgr );;
esac
REPO_URL[.]="$SUBDIR_REPO_URL"

local REPO_DIR="$(basename -- "$CFG_DIR")"
# echo "repo dir: $REPO_DIR"
case "$REPO_DIR" in
  # go-git-service )
  #   array_sed DISTS -re '/^(xenial)$/d';;

  # nodejs-v[1-9][0-9] )
  #   # Starting at v10, the i386 support declared in NodeSource's Release file
  #   # is a lie. That's what you get for using unofficial install methods.
  #   array_sed ARCHS -re '/^(i386)$/d';;

  waterfox-ubu* )
    DISTS=( "xUbuntu_${REPO_DIR#*-ubu}" )
    REPO_CFG[flatdir]=+
    export DM_EVAL_HTTPGET_MODIFY_URL='
      s~(/waterfox/[\w\.]+/)(dists/[\w\.]+/(main/binary-amd64/|)|)~$1~;
      '
    # On the mirror webspace, additionally to the "dists" symlink, you'll
    # also need symlinks for: all amd64 Packages* Release*
    ;;
esac







# scroll
