# -*- coding: utf-8, tab-width: 2, syntax: bash -*-

local SUBDIR_REPO_URL="${REPO_URL[.]}"
source -- "$DME_PATH/docs/example.dm-easy.rc" || return $?
BETTER_DM="$DME_PATH/../debmirror-pmb/usr/bin/debmirror"
if [ -f "$BETTER_DM" ]; then DM_PROG=( perl "$BETTER_DM" ); fi

GNUPGHOME='-'

case "$SUBDIR_REPO_URL" in
  *'://deb.packager.io/'* )
    COMPONENTS=( pkgr );;
esac
REPO_URL[.]="$SUBDIR_REPO_URL"

local REPO_DIR="$(basename -- "$CFG_DIR")"
# echo "repo dir: $REPO_DIR"


# Repos with special dist names:
case "$REPO_DIR" in

  microsoft_vscode | \
  // ) DISTS=( stable );;

  seamonkey | \
  // ) DISTS=( all );;

  brave-browser )
    # ATTN: The upstream repo has a "focal" dist as well, but that one is
    #   signed with key 4fe13824e3ffc656 which seems to be deprecated.
    DISTS=( stable );;

esac


# Repos with special component names:
case "$REPO_DIR" in

  docker | \
  // ) COMPONENTS=( stable );;

esac


# Repos with only a subset of CPU architectures:
case "$REPO_DIR" in
  brave-browser | \
  docker | \
  microsoft_vscode | \
  phusion-passenger | \
  waterfox-ubu* | \
  //no-i386// ) array_sed ARCHS -re '/^(i386)$/d';;

  nodejs-v[1-9][0-9] )
    # Starting at v10, the i386 support declared in NodeSource's Release file
    # is a lie. That's what you get for using unofficial install methods.
    array_sed ARCHS -re '/^(i386)$/d';;
esac


# Very special snowflakes
case "$REPO_DIR" in

  winehq )
    # Bug found 2021-10-29 (https://bugs.winehq.org/show_bug.cgi?id=51947):
    # Unfortunately, we have to choose between supporting either Ubuntu focal:
    ARCHS+=( all )
    array_sed DISTS -re '/^(bionic|xenial)$/d'
    # or bionic and xenial:
    # array_sed DISTS -re '/^(focal)$/d'
    ;;

  waterfox-ubu* )
    DISTS=( "xUbuntu_${REPO_DIR#*-ubu}" )
    REPO_CFG[flatdir]=+
    export DM_EVAL_HTTPGET_MODIFY_URL='
      s~(/waterfox/[\w\.]+/)(dists/[\w\.]+/(main/binary-amd64/|)|)~$1~;
      '
    # On the mirror webspace, additionally to the "dists" symlink, you'll
    # also need symlinks for: all amd64 Packages* Release*
    ;;

  go-git-service )
    DISTS=(
      --exotic=18.04
      );;

  microsoft_vscode )
    EXTRA_DM_OPTS+=(
      --exclude-field=Package='^code-(exploration|insiders)$'
      );;



esac










# scroll
